.sellers {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap);
    padding-top: 30px;
    padding-bottom: 30px;

    @include mobile {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 0;
      padding-right: max(15px, calc((100% - var(--content-width)) / 2));
      padding-left: max(15px, calc((100% - var(--content-width)) / 2));
    }
  }

  &__title {
    position: relative;
    grid-column: 12 span;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: var(--color-water);

    @include tablet {
      margin-bottom: 20px;
    }

    @include big-mobile {
      font-size: 32px;
      line-height: 40px;
    }

    @include mobile {
      margin-bottom: 14px;
      font-size: 30px;
    }

    &::after {
      content: url(../img/sellers-title-border.svg);
      position: absolute;
      bottom: -40px;
      left: 0;

      @include mobile {
        display: none;
      }
    }
  }

  &__descr {
    grid-column: 6 span;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-manatee);

    @include tablet {
      grid-column: 8 span;
    }

    @include big-mobile {
      grid-column: 12 span;
      font-size: 18px;
      line-height: 26px;
    }

    @include mobile {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__select {
    grid-column: 9 / 4 span;
    justify-self: end;
    min-width: 195px;

    @include mobile {
      margin-bottom: 20px;
    }

    & .choices__list--dropdown .choices__list .choices__item--selectable[data-id="1"] {
      display: block;
    }
  }

  &__list {
    grid-column: 12 span;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gap);

    @include mobile {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 0;
    }
  }

  &__item {
    position: relative;
    grid-column: 4 span;
    padding: 20px;

    @include tablet {
      grid-column: 6 span;

      &--tablet {
        display: none;
      }
    }

    @include mobile {
      padding: 5px;

      &:first-child {
        margin-bottom: 20px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(160.69deg, #23252B -0.44%, #17191D 99.01%);
      box-shadow: 4px -4px 10px rgba(80, 80, 80, 0.3);
      border-radius: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: var(--color-shark-card);
      box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
      border-radius: 10px;
    }

    &-list {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 1;
    }

    &-item {
      &--tablet {
        display: none;

        @include tablet {
          display: block;
        }
      }
    }

    &-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
