<section class="category">
  <div class="container category__container">
    <h2 class="category__title">Trending In Category</h2>
    <p class="category__descr">
      when an unknown printer took a galley of type
      and scrambled it to make a type specimen
      book. It has survived not only five
    </p>
    <div class="category__select">
      <select name="Category" class="select1">
        <option value="Category">Category</option>
        <option value="Art">Art</option>
        <option value="NFT">NFT</option>
        <option value="Music">Music</option>
        <option value="Collectibles">Collectibles</option>
        <option value="Virtual Worlds">Virtual Worlds</option>
      </select>
    </div>
    <ul class="list-reset category__list">
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-1">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-1">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-1-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-1-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-1-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-1-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-1-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-1-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-1">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-1.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-1.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">NFT 3D Games in Pro</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-2">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-2">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-2-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-2-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-2-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-2-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-2-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-2-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-2">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-2.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-2.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">Amaging Music Head</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-3">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-3">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-3-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-3-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-3-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-3-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-3-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-3-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-3">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-3.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-3.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">NFT Wallet Of</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-4">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-4">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-4-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-4-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-4-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-4-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-4-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-4-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-4">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-4.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-4.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">NFT 3D Games in Pro</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-5">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-5">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-5-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-5-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-5-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-5-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-5-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-5-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-5">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-5.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-5.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">NFT 3D Games in Pro</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-6">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-6">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-6-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-6-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-6-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-6-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-6-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-6-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-6">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-6.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-6.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">NFT 3D Games in Pro</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-7">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-7">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-7-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-7-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-7-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-7-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-7-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-7-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-7">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-7.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-7.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">NFT 3D Games in Pro</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
      <li class="category__item">
        <article class="category-card">
          <div class="card category-card__content">
            <button class="btn-reset category-card__btn category-card__btn-prev-8">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <div class="swiper category-card__slider-8">
              <div class="swiper-wrapper">
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-8-1.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-8-1.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-8-2.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-8-2.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
                 <div class="swiper-slide category-card__slide">
                  <picture>
                    <source srcset="img/category-card-8-3.webp" type="image/webp">
                    <img loading="lazy" src="img/category-card-8-3.png" class="category__card-image" width="200" height="200" alt="by Amilan ngsi">
                  </picture>
                 </div>
              </div>
            </div>
            <button class="btn-reset category-card__btn category-card__btn-next category-card__btn-next-8">
              <svg class="slider-arrow">
                <use xlink:href="img/sprite.svg#slider-arrow"></use>
              </svg>
            </button>
            <picture>
              <source srcset="img/category-card-autor-8.webp" type="image/webp">
              <img loading="lazy" src="img/category-card-autor-8.png" class="category-card__image" width="96" height="96" alt="Amilan ngsi">
            </picture>
          </div>
          <div class="category-card__info">
            <h3 class="category-card__title">NFT 3D Games in Pro</h3>
            <div class="category-card__name">
              By
              <span class="category-card__name-color">Amilan ngsi</span>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
