<section class="creat">
  <div class="container creat__container">
    <h2 class="creat__title">Creat And Sall Your NFTs</h2>
    <p class="creat__descr">
      from a Lorem Ipsum passage, and going through the cites
      of the word in classical literature, discovered the
      ndoubtable source...
    </p>
    <ul class="list-reset creat__list">
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-1"></div>
          <h3 class="creat-card__title">Set Up Your Wallet</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-2"></div>
          <h3 class="creat-card__title">List Them of Sale</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-3"></div>
          <h3 class="creat-card__title">Creat your Collection</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-4"></div>
          <h3 class="creat-card__title">Add Your NFTs</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-5"></div>
          <h3 class="creat-card__title">Set Up Your Wallet</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-6"></div>
          <h3 class="creat-card__title">Set Up Your Wallet</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-7"></div>
          <h3 class="creat-card__title">Set Up Your Wallet</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
      <li class="creat__item">
        <article class="card creat-card">
          <button class="btn-reset creat-card__btn">
            <svg class="creat-card__icon">
              <use xlink:href="img/sprite.svg#creat-arrow"></use>
            </svg>
          </button>
          <div class="creat-card__image creat-card__image-8"></div>
          <h3 class="creat-card__title">Set Up Your Wallet</h3>
          <p class="creat-card__descr">
            All the Lorem Ipsum generators
            repeat predefined chunks as
            this the first true generator
            the Internet
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
