<header class="header">
  <div class="container header__container">
    <a class="logo header__logo">
      <img loading="lazy" src="img/logo.svg" class="image" width="105" height="49" alt="Logo">
    </a>
    <div class="header__search search">
      <input type="text" class="input-reset search__input" placeholder="Search">
      <button class="btn-reset search__btn">
        <svg class="search__icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
    </div>
    <nav class="nav" title="mainMenu">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link" aria-label="Home">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link" aria-label="Discover">Discover</a></li>
        <li class="nav__item"><a href="#" class="nav__link" aria-label="Activity">Activity</a></li>
        <li class="nav__item"><a href="#" class="nav__link" aria-label="Page">Page</a></li>
        <li class="nav__item"><a href="#" class="nav__link" aria-label="Contact Us">Contact Us</a></li>
      </ul>
    </nav>
    <div class="header__btns">
      <button class="btn-reset btn-stroke btn">Create</button>
      <button class="btn-reset btn-fill btn">Connect Wallet</button>
    </div>
    <button class="burger" aria-label="Open menu" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
    <div class="menu" data-menu>
      <ul class="list-reset menu__list">
        <li class="menu__item"><a href="#" class="menu__link" aria-label="Home">Home</a></li>
        <li class="menu__item"><a href="#" class="menu__link" aria-label="Discover">Discover</a></li>
        <li class="menu__item"><a href="#" class="menu__link" aria-label="Activity">Activity</a></li>
        <li class="menu__item"><a href="#" class="menu__link" aria-label="Page">Page</a></li>
        <li class="menu__item"><a href="#" class="menu__link" aria-label="Contact Us">Contact Us</a></li>
      </ul>
      <div class="header__btns">
        <button class="btn-reset btn-stroke btn">Create</button>
        <button class="btn-reset btn-fill btn">Connect Wallet</button>
      </div>
    </div>
  </div>
</header>
