<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Discover collect and sell extraordinary NFT</h1>
      <p class="hero__descr">
        <span>Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel</span>
        <span>onveranderd, overgenomen in elektronische</span>
        <span>letterzetting. Het is in de jaren</span>
      </p>
      <div class="hero__btns">
        <button class="btn-reset btn-fill btn hero__btn">Explore More</button>
        <button class="btn-reset btn-stroke btn hero__btn">Connect Wallet</button>
      </div>
    </div>
  </div>
</section>
