<section class="products">
  <div class="container products__container">
    <h2 class="products__title">NFT Products Live Action</h2>
    <p class="products__descr">
      when an unknown printer took a galley of type and scrambled it to
      make a type specimen book . It has survived not only five
      but also the leap into electronic typesetting
    </p>
    <ul class="list-reset products__list">
      <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-1.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-1.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-2.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-2.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-3.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-3.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-4.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-4.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-5.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-5.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
       <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-6.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-6.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-7.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-7.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="card products-card">
          <picture>
            <source srcset="img/products-card-8.webp" type="image/webp">
            <img loading="lazy" src="img/products-card-8.png" class="products-card__image" width="307" height="200" alt="Golden color shape">
          </picture>
          <div class="products-card__content">
            <div class="products-card__btns">
              <button class="btn-reset btn btn-stroke products-card__btn">Place Bid</button>
              <ul class="list-reset products-card__list">
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--1"></button>
                </li>
                <li class="products-card__item">
                  <button class="btn-reset products-card__item-btn products-card__item-btn--2"></button>
                </li>
              </ul>
            </div>
            <div class="products-card__info">
              <span class="products-card__bid">Open For bid 1/10</span>
              <span class="products-card__icon"></span>
              <span class="products-card__price">5.99 ETH</span>
            </div>
            <h3 class="products-card__title">Golden Color Shape</h3>
            <div class="products-card__timer">
              <span class="products-card__timer-back products-card__timer-days">
                20
                <span>D</span>
              </span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-hours">45 H</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-minutes">55 M</span>
              <svg class="products-card__timer-icon">
                <use xlink:href="img/sprite.svg#timer-icon"></use>
              </svg>
              <span class="products-card__timer-back products-card__timer-seconds">05 S</span>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
