<section class="sellers">
  <div class="container sellers__container">
    <h2 class="sellers__title">Top Sellers</h2>
    <p class="sellers__descr">
      It has survived not only five centuries, but also
      he leap into electronic typesetting
      remaining essentially uncha
    </p>
    <div class="sellers__select">
      <select name="Last 7 day" class="select2">
        <option value="Last 7 day">Last 7 day</option>
        <option value="Last 6 day">Last 6 day</option>
        <option value="Last 5 day">Last 5 day</option>
        <option value="Last 4 day">Last 4 day</option>
        <option value="Last 3 day">Last 3 day</option>
        <option value="Last 2 day">Last 2 day</option>
      </select>
    </div>
    <ul class="list-reset sellers__list">
      <li class="sellers__item">
        <ul class="list-reset sellers__item-list">
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-1"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-2"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-red">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-3"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-4"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-orange">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-5"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-red">
                  +13,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item sellers__item-item--tablet">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-11"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-orange">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item sellers__item-item--tablet">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-12"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="sellers__item">
        <ul class="list-reset sellers__item-list">
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-6"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-7"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-orange">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-8"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-red">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-9"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-10"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +13,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item sellers__item-item--tablet">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-14"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-red">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item sellers__item-item--tablet">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-15"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +13,37%
                </div>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="sellers__item sellers__item--tablet">
        <ul class="list-reset sellers__item-list">
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-11"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-orange">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-12"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-13"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-14"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-red">
                  +153,37%
                </div>
              </a>
            </div>
          </li>
          <li class="sellers__item-item">
            <div>
              <a href="#" class="card sellers-card" aria-label="Cryptopunka">
                <div class="sellers-card__image sellers-card__image-15"></div>
                <div class="sellers-card__info">
                  <span class="sellers-card__info-name">Cryptopunka</span>
                  <span class="sellers-card__info-price">1023,454.23</span>
                </div>
                <div class="sellers-card__percent sellers-card__percent-green">
                  +13,37%
                </div>
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
