<section class="start">
  <div class="container start__container">
    <h2 class="start__title">Start your own collection today</h2>
    <p class="start__descr">
      raroin is a shared liquidity NFT market smart contract which is
      used by multiple websites to provide the users the
      best possible experience.
    </p>
    <button class="btn-reset btn btn-fill start__btn">Start Collection</button>
    <ul class="list-reset start__list">
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="NFT">
            <picture>
              <source srcset="img/start-card-1.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-1.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">NFT</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="Token">
            <picture>
              <source srcset="img/start-card-2.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-2.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">Token</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="Crypto">
            <picture>
              <source srcset="img/start-card-3.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-3.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">Crypto</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="Figured">
            <picture>
              <source srcset="img/start-card-4.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-4.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">Figured</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="Blockchain">
            <picture>
              <source srcset="img/start-card-5.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-5.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">Blockchain</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="Bitcoin">
            <picture>
              <source srcset="img/start-card-6.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-6.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">Bitcoin</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="NFT Art">
            <picture>
              <source srcset="img/start-card-7.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-7.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">NFT Art</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
      <li class="start__item">
        <article class="start__article">
          <a href="#" class="card start-card" aria-label="3D Design">
            <picture>
              <source srcset="img/start-card-8.webp" type="image/webp">
              <img loading="lazy" src="img/start-card-8.png." class="start-card__image" width="100" height="100" alt="NFT">
            </picture>
            <h3 class="start-card__title">3D Design</h3>
            <p class="start-card__descr">
              It is a long established factthat a reader will&nbsp;be...
            </p>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
